body {
    background-image: url("images/back_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
}

h1 {
    display: block;
    color: white;
    position: relative !important;
    font-size: 80px !important;
    line-height: 80px !important;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    color: aqua;
    position: relative !important;
    font-size: 40px !important;
    margin-block-start: 0.67em;
}

.div_class1 {
    padding: 10px;
}

.root_idea_style {
    padding: 50px;
}

.button_styled {
    line-height: 2.5;
}